/* Here are example using css */

.rates {
  width: 100px;
  height: 100px;
  background: url(../assets/images/converter21.png) 0 0/contain no-repeat;
}

.mainContainer {
  display: flex;
  justify-content: space-around;
}

.headerContainer {
  display: flex;
  justify-content: center;
}

.wrapperNav {
  display: flex;
  width: 1158px;
}

.setUl {
  list-style: none;
}
