/* Here are example using scss */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;

  & > * {
    margin: 2rem 0;
  }
}

.header {
  h1 {
    font-size: 4.5rem;
  }
}

.example {
  display: flex;
  justify-content: center;
}

.from-scss {
  color: #0096FF;
}

.link {
  color: #61dafb;
  font-size: 3rem;
  margin-top: 4.5rem;
}

