/* Here are example using scss */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d4cdbb;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
.inpFrom {
  min-width: 280px;
}
.divForm {
  min-width: 280px;
  margin-bottom: 20px;
}
.inpNum {
  margin: 3px;
}
.selCur {
  margin: 3px;
}
.containerH {
  padding: 20px;
}

.divP {
  width: 150px;
  height: 10px;
  font-family: 'Arimo', sans-serif;
  color: #c0efbe;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  align-items: center;
}

.divPrivat {
  font-family: 'Arimo', sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 95px;
  flex-direction: column;
  text-align: center;
  color: #74b027;
}

.responsive-table {
  min-width: 250px;
  margin: 3px;
  .liC {
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin: 2px;
  }

  .table-header {
    background-color: #95A5A6;
    font-size: 12px;
    align-items: center;
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
}
  @media all and (min-width: 767px) {
    .inpFrom {
      min-width: 480px;
    }
    .divForm {
      min-width: 480px;
      margin-bottom: 40px;
    }
    .inpNum {
      margin: 6px;
    }
    .selCur {
      margin: 6px;
    }
    .containerH {
      padding: 40px;
    }

  }
